<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Controle de Tarefas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngIf="tarefas.length < 1">
        <ion-label>Não há tarefas</ion-label>
    </ion-item>
    <ion-item-sliding  *ngFor="let tarefa of tarefas" >
      <ion-item (click)="abrirOpcoes(tarefa)">

        <ion-label *ngIf="!tarefa.feito" >{{tarefa.nome}}</ion-label>
        <ion-icon *ngIf="!tarefa.feito"  slot="start" name="radio-button-off" color="success"></ion-icon>

        <ion-label *ngIf="tarefa.feito"><del>{{tarefa.nome}}</del></ion-label>
        <ion-icon  *ngIf="tarefa.feito" slot="start" name="checkmark-circle" color="success"></ion-icon>
      </ion-item>
      <ion-item-options side="start">
        <ion-item-option color="danger" (click)="excluir(tarefa)">Excluir</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

 </ion-list>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button color="secondary" (click)="addTarefa()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>
